.payment-success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #222222;
  }
  
  .payment-success-title {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .payment-success-message {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .payment-success-message p {
    margin-bottom: 10px;
    color: #adabab;
  }
  
  .payment-success-robot {
    width: 200px;
    height: auto;
  }
  